<div class = "table">
    <div class = "headerTable">
        <div class = "columnTable"><span class = "align-middle" i18n>Encuesta</span></div>
        <div class = "columnTable"><span class = "align-middle" i18n>Fecha de publicación</span></div>
        <div class = "columnTable"><span class = "align-middle" i18n>Fecha de cierre</span></div>
        <div class = "columnTable"><span class = "align-middle" i18n>Ver encuesta</span></div>
        <div class = "columnTable"><span class = "align-middle" i18n>Resultados</span></div>
    </div>
    
    <ng-container *ngFor="let survey of surveys">
        <ng-container *ngIf="survey.isPublish">
            <div class = "rowTable">
                <div class = "columnTable"><p>{{survey.title}}</p></div>
                <div class = "columnTable dates"><p>{{survey.startDate}}</p></div>
                <div class = "columnTable dates"><p>{{survey.endDate}}</p></div>
                <div class = "columnTable">
                    <a [routerLink]="[ '/usuario/contestarEncuesta',survey.id]" routerLinkActive="active" class="nav-item nav-link">
                        <button type="button" class="btn btn-primary listbtn" i18n>Contestar</button>
                    </a>
                </div>
                <div class = "columnTable">
                    <a [routerLink]="[ '/usuario/estadisticas',survey.id]" routerLinkActive="active current"class="nav-item nav-link">
                        <button type="button" class="btn btn-info listbtn" i18n>Ver resultados</button>
                    </a>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>