<app-header [section]="section"></app-header>
<app-home-carousel></app-home-carousel>
<div class="container text-center containerPadding">    
    <h3 i18n>¿Qué hacemos?</h3><br>
    <div class="row">
        <div class="col-sm-4">
        <h4 i18n>Contestar encuestas</h4>
        <p i18n>Proveemos a los ciudadanos de encuestas oficiales sobre su opinión de el desempeño del gobierno en distintas áreas.</p>
        </div>
        <div class="col-sm-4"> 
        <h4 i18n>Ver resultados</h4>
        <p i18n>Damos resultados transparentes sobre las encuestas de nuestros ciudadanos.</p>    
        </div>
        <div class="col-sm-4">
        <h4 i18n>Estadísticas</h4>
        <p i18n>Estadísticas para facilitar como se observan los resultados.</p> 
        </div>
    </div>
</div>
<app-footer [section]="section"></app-footer>