<div class = 'form_container'>
<form class = "form_login col-lg-4 col-md-5 col-sm-6 col-10">
    <div class="form-row">
      <div class="col-lg-12 mb-3">
        <label for="inputUsuario">Usuario o correo electrónico</label>
        <input type="text" class="form-control" id="inputUsuario" placeholder="Usuario o correo electrónico" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-lg-12 mb-3">
        <label for="inputContraseña">Contraseña</label>
        <input type="password" class="form-control" id="inputContraseña" placeholder="Contraseña" required>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="inputTerminos" required>
        <label class="form-check-label" for="inputTerminos">
          Aceptar <a href ="#policiesModal" data-toggle="modal" data-target="#policiesModal">términos y condiciones</a>
        </label>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="policiesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Términos y condiciones</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class ="p-2">
                <h5> Información relevante </h5>
                <p class = "pt-1">
                    Es requisito necesario para el uso de los servicios que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento.
                </p>
            </div>
            <div class ="p-2">
                <h5> Propiedad</h5>
                <p class = "pt-1">
                    Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros servicios, modificado o sin modificar. Todos los servicios 
                    son propiedad de los proveedores del contenido. En caso de que no se especifique lo contrario, nuestros productos se proporcionan sin ningún tipo de garantía, 
                    expresa o implícita. En ningún los administradores serán responsables de ningún daño incluyendo, 
                    pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros pservicios.
                </p>
            </div>
            <div class ="p-2">
                <h5> Comprobación antifraude</h5>
                <p class = "pt-1">
                        El uso de servicios por el cliente puede ser aplazado para la comprobación antifraude. También puede ser suspendida por más tiempo para una investigación más rigurosa, para evitar acciones fraudulentas.
                </p>
            </div>
            <div class = "p-2">
                    <h5> Privacidad </h5>
                    <p class = "pt-1">
                        Este sitio web titulositio.com garantiza que la información personal que usted envía cuenta con la seguridad necesaria. La información ingresada por el usuario es totalmente confidencial y ninguna otra persona a excepción de los administradores podrán hacer uso de ésta.
                    </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class = 'submission_login'>
      <button class="btn btn-primary col-lg-4" type="submit">Inicar sesión</button>
      <p class = 'change_signup text-center'>¿Aún no tienes cuenta? <a href="./signup.html">Regístrate</a></p>
    </div>
  </form>
</div>