<app-header></app-header>
<app-home-carousel></app-home-carousel>
<div class="container text-center containerPadding">    
    <h3>¿Qué hacemos?</h3><br>
    <div class="row">
        <div class="col-sm-4">
        <h4>Votar</h4>
        <p>Administramos desde nuestro sitio una forma más fácil en la que los ciudadanos puedan hacer elecciones democráticas.</p>
        </div>
        <div class="col-sm-4"> 
        <h4>Mostrar candidatos</h4>
        <p>Te proporcionamos la información que necesites saber sobre los candidatos en tu localidad.</p>    
        </div>
        <div class="col-sm-4">
        <h4>Mostrar resultados en vivo</h4>
        <p>Con nuestra tecnología podemos llevar tracking de los resultados en vivo</p> 
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>