<nav class="navbar navbar-expand-md fixed-top navbar-dark header-color">
    <div class="container">
        <div class="corner-ribbon top-left">Beta</div>
        <a routerLink="/home" routerLinkActive="active current" class="navbar-brand">
            <img src="./assets/logo.png" height="36" alt="A votar">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="/admin" routerLinkActive="active current" [routerLinkActiveOptions]="{ exact: true }" class="nav-item nav-link" i18n>Inicio</a>
                <a routerLink="/admin/listaEncuestas" routerLinkActive="active current" class="nav-item nav-link" i18n>Ver Encuestas</a>
                <a routerLink="/admin/crearEncuestas" routerLinkActive="active current" class="nav-item nav-link" i18n>Crear Encuestas</a>
                <a routerLink="/admin/estadisticas" routerLinkActive="active current" class="nav-item nav-link" i18n>Estadisticas</a>
            </div>
            <div class="navbar-nav ml-auto">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Español
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#" >English</a>
                    </div>
                </div>
                <a routerLink="/login" routerLinkActive="active current" class="nav-item nav-link" i18n>Cerrar Sesión</a>
            </div>
        </div>
    </div>
</nav>