
<div class = 'main_container'>
    <app-header></app-header>
    <div class = "wrapper">
        <section class = 'content_candidatos col-sm-10'>
            <div class = "row">
                <div class = 'title_container col-sm-12'>
                    <h3> 
                        Candidatos
                    </h3>
                </div>
            </div>
            <app-filtro-candidatos></app-filtro-candidatos>
            <app-container-candidatos></app-container-candidatos>
        </section>
    </div>
    <app-footer></app-footer>
</div>
