<div class = "row whitePurpleContainer">
    <div class = "col-sm-12 d-flex">
    <div class = 'text-center col-sm-4'>
        <h5 i18n>Fecha de creación: <p class= "dates">{{survey.creationDate}}</p></h5>
    </div>
    <div class = 'text-center col-sm-4'>
        <h5 i18n>Fecha de publicación: <p class= "dates">{{survey.startDate}}</p></h5>
    </div>
    <div class = 'text-center col-sm-4'>
        <h5 i18n>Fecha de cierre: <p class= "dates">{{survey.endDate}}</p></h5>
    </div>
    </div>
</div>