<app-header></app-header>
<div class = "wrapper">
    <section class = 'content_estadisticas col-sm-12'>
      <div class = "row">
        <div class = "col-sm-12">
            <div class = 'title_container'>
                <h3> 
                    Estadísticas
                </h3>
            </div>
         </div>
      </div>
      <app-filtro-estadisticas></app-filtro-estadisticas>
      <app-estadisticas-graficas></app-estadisticas-graficas>
    </section>
  </div>
  <app-footer></app-footer>