<div class = 'main_container'>
    <app-header [section]="'admin'"></app-header>
    <div class = "wrapper">
        <section class = 'col-sm-12 whitePurpleContainer'>
        <div class = "row whitePurpleContainer py-3">
            <div class = "col-sm-12">
                <div class = 'title_container d-flex flex-column align-items-center'>
                    <h4 i18n> 
                        Estadísticas de Encuesta
                    </h4>
                    <h4> 
                        {{survey.title}}
                    </h4>
                </div>
            </div>
        </div>
        <hr>
        <app-fechas-admin [survey]="survey"></app-fechas-admin>
        <hr>
        <div *ngFor="let question of survey.questions">
            <app-graficas-admin [question]="question"></app-graficas-admin>
        </div>
       

        <div class = "row pt-3 pb-3 whitePurpleContainer justify-content-center">
            <button type="button" class="btn btn-secondary mr-2 align-self-center" i18n>Regresar</button>
            <button type="button" class="btn btn-info ml-2" i18n>Publicar</button>
        </div>
        </section>
    </div>
    <app-footer [section]="'admin'"></app-footer>
</div>
