<div class="form-row">
    <div class="col-lg-12 mb-3">
        <label for="inputPregunta" i18n>Pregunta</label>
        <input type="text" class="form-control" id="inputPregunta" placeholder="Pregunta" required>
    </div>
</div>
<div class="form-row d-flex justify-content-center">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" i18n>
            Número de opciones
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item">2</a>
            <a class="dropdown-item">3</a>
            <a class="dropdown-item">4</a>
            <a class="dropdown-item">5</a>
            <a class="dropdown-item">6</a>
            <a class="dropdown-item">7</a>
            <a class="dropdown-item">8</a>
            <a class="dropdown-item">9</a>
        </div>
    </div>
</div>
<div class="form-row pt-2">
    <div class="col-lg-12 mb-3">
        <label for="inputOpcion1" i18n>Opciones</label>
        <input type="text" class="form-control" id="inputOpcion1" placeholder="Opción 1" required>
        <br/>
        <input type="text" class="form-control" id="inputOpcion2" placeholder="Opción 2" required>
        <br/>
        <input type="text" class="form-control" id="inputOpcion3" placeholder="Opción 3" required>
        <br/>
        <input type="text" class="form-control" id="inputOpcion4" placeholder="Opción 4" required>
    </div>
</div>