$imgCandidate: 120px;

.infoEstadisticasContainer{
    background-color: $white-purple;
}

.infoEstadisticaContainer{
    @include polaroidImage;
    background-color: $white;
}

.img-candidato-sm {
    @include resizeImage($imgCandidate);
}