@import '../bootstrap-4.4.1/scss/bootstrap';
@import './config';
@import './header';
@import './footer';
@import './sidebar';
@import './login';
@import './signup';
@import './home';
@import './about';
@import './policies';
@import './candidatos';
@import './propuestas';
@import './votar';
@import './estadisticas';
$styleBoxSize: border-box;
$styleBoxMargin: 0;
$styleBoxPadding: 0;
$styleHtmlHeight: 100%;
$styleBodyHeight: 100%;
$styleBodyDisplay: flex;
$styleBodyDirection: column;
$styleTitleContainerFlex: row;
$styleTitleContainerPadding: 40px;
$styleMainContainerFlexCenter: column;
$styleMainContainerPadding: 0;
$styleMainContainerMargin:0;
$styleMainContainerHeight:100vh;
$styleMainContainerFlex:1;
$styleWrapperDisplay:flex;
$styleWrapperFlex:1;

* {
    box-sizing: $styleBoxSize;
    margin: $styleBoxMargin;
    padding: $styleBoxPadding;
  }

html {
      height: $styleHtmlHeight;
  }

body{
    min-height: $styleBodyHeight;
    display: $styleBodyDisplay;
    flex-direction: $styleBodyDirection;
    background-color: $soft-purple;
  }

  .title_container {
    @include flexCenter($styleTitleContainerFlex);
    padding: $styleBoxPadding;
  }

  .main_container {
    @include flexCenter($styleMainContainerFlexCenter);
    padding: $styleMainContainerPadding;
    margin: $styleMainContainerMargin;
    min-height: $styleMainContainerHeight;
    flex: $styleMainContainerFlex;
}

.wrapper {
    display: $styleWrapperDisplay;
    flex: $styleWrapperFlex;
}

