<footer id = 'footer_container'>
    <div id = "footer_left">
        <div class = "footer_copyright">
            <p>Copyright © 2020 - Todos los derechos reservados</p>
        </div>
        <div class="footer_policy">
            <p><a class = "footer_link" routerLink="/policies" routerLinkActive="active">Términos y condiciones</a></p>
        </div>
    </div>
    <div id = "footer_right">
        <div id = "footer_about">
            <p><a class = "footer_link" routerLink="/about" routerLinkActive="active">Sobre nosotros</a></p>
        </div>
        <div class="footer_contact">
            <p>Contacto: correo electrónico: correo@gmail.com</p> 
        </div>
    </div>
</footer>