<div class = 'main_container'>
<app-header [section]="section"></app-header>
<div class = "wrapper">
    <section class = 'content_about'>
        <div class = "row">
            <div class = "col-sm-12 text-center p-sm-3">
                <div class ="p-3 pt-5">
                    <h3 i18n> ¿Quienes somos? </h3>
                    <div class = "p-2" >
                        <p i18n>
                                Nosotros somos 3 estudiantes del Tecnológico de Monterrey cursando la carrera de Ingeniería en Tecnologías Computacionales. Nuestro objetivo
                                es crear sistemas que beneficien y sean de utilidad para la comunidad a nuestro alrededor.
                        </p>
                    </div>
                </div>
                <hr>
                <div class ="p-3">
                    <h3 i18n> ¿Para que sirve el sitio web? </h3>
                    <div class = "p-2" >
                        <p i18n>
                                En este sitio web los ciudadanos podrán ver las votaciones que se realizarán en las comunidades de la república mexicana.
                                El objetivo del sistema es crear una forma de realizar votaciones a nivel municipal, federal y estatal de manera sencilla y
                                rápida, segura y confiable desde cualquier lugar.
                        </p>
                        <p i18n>
                            Al finalizar el periodo de cada votación, se realizarán diferentes
                            gráficas y estadísticas para visualizar mejor los resultados de cada votación.
                        </p>
                    </div>
                </div>
                <hr>
                <div class = "p-3">
                        <h3 i18n> ¿El sitio web seguro? </h3>
                        <div class = "p-2" ></div>
                            <p class i18n>Los usuarios podrán acceder al sistema de votaciones creando una cuenta
                                y nos aseguraremos que el usuario es apto para votar mediante la petición del
                                código QR que se encuentra en las credenciales para votar del INE, de esta
                                manera nos aseguraremos de que la persona que quiere realizar el voto es apta
                                para poder votar.
                        </p>
                    </div>
                </div>
                <hr/>
            </div>
    </section>
</div>
<app-footer [section]="section"></app-footer>
</div>