<div class = "table">
    <div class = "headerTable">
        <div class = "columnTable"><span class = "align-middle">Encuesta</span></div>
        <div class = "columnTable"><span class = "align-middle">Fecha de cierre</span></div>
        <div class = "columnTable"><span class = "align-middle"></span></div>
        <div class = "columnTable"><span class = "align-middle">Acción</span></div>
        <div class = "columnTable"><span class = "align-middle"></span></div>
    </div>
    <div class = "rowTable">
        <div class = "columnTable"><p>Servicio de agua en su comunidad</p></div>
        <div class = "columnTable dates"><p>10/04/2020</p></div>
        <div class = "columnTable"><button type="button" class="btn btn-primary listbtn">Publicar</button></div>
        <div class = "columnTable">
            <a routerLink="/admin/estadisticas" routerLinkActive="active current"class="nav-item nav-link">
                <button type="button" class="btn btn-info listbtn">Ver resultados</button>
            </a>
        </div>
        <div class = "columnTable"><button type="button" class="btn btn-danger listbtn">Eliminar</button></div>
    </div>
    <div class = "rowTable">
        <div class = "columnTable"><p>Servicio de seguridad</p></div>
        <div class = "columnTable dates"><p>07/03/2020</p></div>
        <div class = "columnTable"><button type="button" class="btn btn-primary listbtn">Publicar</button></div>
        <div class = "columnTable">
            <a routerLink="/admin/estadisticas" routerLinkActive="active current" class="nav-item nav-link">
                <button type="button" class="btn btn-info listbtn">Ver resultados</button>
            </a>
        </div>
        <div class = "columnTable"><button type="button" class="btn btn-danger listbtn">Eliminar</button></div>
    </div>
    <div class = "rowTable">
        <div class = "columnTable"><p>Servicio de electricidad</p></div>
        <div class = "columnTable dates"><p>05/02/2020</p></div>
        <div class = "columnTable"><button type="button" class="btn btn-primary listbtn">Publicar</button></div>
        <div class = "columnTable">
            <a routerLink="/admin/estadisticas" routerLinkActive="active current" class="nav-item nav-link">
                <button type="button" class="btn btn-info listbtn">Ver resultados</button>
            </a>
        </div>
        <div class = "columnTable"><button type="button" class="btn btn-danger listbtn">Eliminar</button></div>
    </div>
    <div class = "rowTable ">
        <div class = "columnTable"><p>Servicio de drenaje</p></div>
        <div class = "columnTable dates"><p>02/01/2020</p></div>
        <div class = "columnTable"><button type="button" class="btn btn-warning listbtn">Ocultar</button></div>
        <div class = "columnTable">
            <a routerLink="/admin/estadisticas" routerLinkActive="active current" class="nav-item nav-link listbtn">
                <button type="button" class="btn btn-info listbtn">Ver resultados</button>
            </a>
        </div>
        <div class = "columnTable"><button type="button" class="btn btn-danger listbtn">Eliminar</button></div>
    </div>
</div>