<div class = "table">
    <div class = "headerTable">
        <div class = "columnTable"><span class = "align-middle" i18n>Encuesta</span></div>
        <div class = "columnTable"><span class = "align-middle" i18n>Fecha de cierre</span></div>
        <div class = "columnTable"><span class = "align-middle"></span></div>
        <div class = "columnTable"><span class = "align-middle" i18n>Acción</span></div>
        <div class = "columnTable"><span class = "align-middle"></span></div>
    </div>
    <ng-container *ngFor="let survey of surveys">
        <div class = "rowTable">
            <div class = "columnTable"><p>{{survey.title}}</p></div>
            <div class = "columnTable dates"><p>{{survey.endDate}}</p></div>
            <ng-container *ngIf="survey.isPublish; else elsePublish">
                <div (click)="toggleSurvey(survey)" class = "columnTable"><button type="button" class="btn btn-primary listbtn" i18n>Publicar</button></div>
            </ng-container>
            <ng-template #elsePublish>
                <div (click)="toggleSurvey(survey)" class = "columnTable"><button type="button" class="btn btn-warning listbtn" i18n>Ocultar</button></div>
            </ng-template>
            <div class = "columnTable">
                <a [routerLink]="[ '/admin/estadisticas',survey._id]" routerLinkActive="active current"class="nav-item nav-link">
                    <button type="button" class="btn btn-info listbtn" i18n>Ver resultados</button>
                </a>
            </div>
            <div (click)="deleteSurvey(survey)" class = "columnTable"><button type="button" class="btn btn-danger listbtn" i18n>Eliminar</button></div>
        </div>
    </ng-container>
</div>

<!-- <div class = "table">
    <div class = "headerTable">
        <div class = "columnTable"><span class = "align-middle" i18n>Encuesta</span></div>
        <div class = "columnTable"><span class = "align-middle" i18n>Fecha de cierre</span></div>
        <div class = "columnTable"><span class = "align-middle"></span></div>
        <div class = "columnTable"><span class = "align-middle" i18n>Acción</span></div>
        <div class = "columnTable"><span class = "align-middle"></span></div>
    </div>
    <div *ngFor="let survey of surveys">
        <div class = "rowTable">
            <div class = "columnTable"><p>{{survey.ti}}</p></div>
            <div class = "columnTable dates"><p>10/04/2020</p></div>
            <div class = "columnTable"><button type="button" class="btn btn-primary listbtn" i18n>Publicar</button></div>
            <div class = "columnTable">
                <a routerLink="/admin/estadisticas" routerLinkActive="active current"class="nav-item nav-link">
                    <button type="button" class="btn btn-info listbtn" i18n>Ver resultados</button>
                </a>
            </div>
            <div class = "columnTable"><button type="button" class="btn btn-danger listbtn" i18n>Eliminar</button></div>
        </div>
    </div>
    <div class = "rowTable">
        <div class = "columnTable"><p>Servicio de agua en su comunidad</p></div>
        <div class = "columnTable dates"><p>10/04/2020</p></div>
        <div class = "columnTable"><button type="button" class="btn btn-primary listbtn" i18n>Publicar</button></div>
        <div class = "columnTable">
            <a routerLink="/admin/estadisticas" routerLinkActive="active current"class="nav-item nav-link">
                <button type="button" class="btn btn-info listbtn" i18n>Ver resultados</button>
            </a>
        </div>
        <div class = "columnTable"><button type="button" class="btn btn-danger listbtn" i18n>Eliminar</button></div>
    </div>
    <div class = "rowTable">
        <div class = "columnTable"><p>Servicio de seguridad</p></div>
        <div class = "columnTable dates"><p>07/03/2020</p></div>
        <div class = "columnTable"><button type="button" class="btn btn-primary listbtn" i18n>Publicar</button></div>
        <div class = "columnTable">
            <a routerLink="/admin/estadisticas" routerLinkActive="active current" class="nav-item nav-link">
                <button type="button" class="btn btn-info listbtn" i18n>Ver resultados</button>
            </a>
        </div>
        <div class = "columnTable"><button type="button" class="btn btn-danger listbtn" i18n>Eliminar</button></div>
    </div>
    <div class = "rowTable">
        <div class = "columnTable"><p>Servicio de electricidad</p></div>
        <div class = "columnTable dates"><p>05/02/2020</p></div>
        <div class = "columnTable"><button type="button" class="btn btn-primary listbtn" i18n>Publicar</button></div>
        <div class = "columnTable">
            <a routerLink="/admin/estadisticas" routerLinkActive="active current" class="nav-item nav-link">
                <button type="button" class="btn btn-info listbtn" i18n>Ver resultados</button>
            </a>
        </div>
        <div class = "columnTable"><button type="button" class="btn btn-danger listbtn" i18n>Eliminar</button></div>
    </div>
    <div class = "rowTable ">
        <div class = "columnTable"><p>Servicio de drenaje</p></div>
        <div class = "columnTable dates"><p>02/01/2020</p></div>
        <div class = "columnTable"><button type="button" class="btn btn-warning listbtn" i18n>Ocultar</button></div>
        <div class = "columnTable">
            <a routerLink="/admin/estadisticas" routerLinkActive="active current" class="nav-item nav-link listbtn">
                <button type="button" class="btn btn-info listbtn" i18n>Ver resultados</button>
            </a>
        </div>
        <div class = "columnTable"><button type="button" class="btn btn-danger listbtn" i18n>Eliminar</button></div>
    </div>
</div> -->