<nav class="navbar navbar-expand-md fixed-top navbar-dark header-color">
    <div class="container">
        <div class="corner-ribbon top-left">Beta</div>
        <a routerLink="/" routerLinkActive="active current" class="navbar-brand">
            <img src="./assets/logo.png" height="36" alt="A votar">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="/" routerLinkActive="active current" class="nav-item nav-link">Home</a>
            </div>
            <div class="navbar-nav ml-auto">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Español
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#" >English</a>
                    </div>
                </div>
                <a routerLink="/login" routerLinkActive="active current" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </div>
</nav>