<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar
<h1>Hola mundo</h1> -->
<!-- <app-about></app-about>  -->
<!-- <app-candidatos></app-candidatos> -->
<!-- <app-estadisticas></app-estadisticas> -->
<!-- <app-login></app-login> -->
<!-- <app-policies></app-policies> -->
<!-- <app-propuestas></app-propuestas> -->
<!-- <app-signup></app-signup> -->
<!-- <app-votar></app-votar>  -->
<!-- <app-lista-encuestas-admin></app-lista-encuestas-admin> -->
<!-- <app-lista-encuestas-usuario></app-lista-encuestas-usuario> -->
<!-- <app-crear-encuestas></app-crear-encuestas> -->
<!-- <app-contestar-encuesta></app-contestar-encuesta> -->
<!-- <app-estadisticas-admin></app-estadisticas-admin> -->
<!-- <app-estadisticas-usuario></app-estadisticas-usuario> -->
<main [@routeAnimations]="prepareRoute(outlet)" class="content">
    <router-outlet #outlet="outlet"></router-outlet>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


