<div class = "row infoEstadísticas">
    <div class = "whitePurpleContainer col-md-12 col-12 p-3 rounded-sm d-flex justify-content-center">
    <div class = "col-lg-4 col-md-8 infoEstadisticaContainer">
        <div class = "row">
            <h5 class="card-title text-center col-lg-12">Pregunta 2</h5>
        </div>
        <hr>
        <div class = "row d-flex justify-content-center">
            <div class = "col-lg-12"> 
            <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
    </div>
</div>