<app-header></app-header>
<app-home-carousel></app-home-carousel>
<div class="container text-center containerPadding">    
    <h3 i18n>¿Qué puedes hacer como administrador?</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <h4 i18n>Crear encuestas</h4>
            <p i18n>Como administrador puedes crear encuestas, eliminarlas y publicarlas a los usuarios.</p>
        </div>
        <div class="col-sm-4"> 
            <h4 i18n>Personalizar Encuesta</h4>
            <p i18n>Al crear la encuesta tu decides que preguntas contendrá y las opciones que el usuario puede elegir.</p>    
        </div>
        <div class="col-sm-4">
            <h4 i18n>Ver resultados</h4>
            <p i18n>También puedes ver los resultados de cada encuesta después de que fue cerrada.</p> 
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>