<div class = 'main_container'>
    <app-header [section]="'usuario'"></app-header>
    <div class = "wrapper whitePurpleContainer justify-content-center">
        <section class = 'col-sm-10'>
            <div class="row pb-3">
                <div class="col-sm-12">
                    <div class="title_container pt-2">
                        <h3 i18n> 
                            Lista de encuestas
                        </h3>
                    </div>
                    </div>
            </div>
            <app-encuestas-usuario></app-encuestas-usuario>
            </section>
    </div>
    <app-footer [section]="'usuario'"></app-footer>
</div>
