<div class = 'main_container'>
    <app-header></app-header>
    <div class = "wrapper">
        <section class = 'col-sm-12 whitePurpleContainer'>
        <div class = "row whitePurpleContainer py-3">
            <div class = "col-sm-12">
                <div class = 'title_container'>
                    <h3> 
                        Estadísticas de Encuesta Sobre satisfacción ciudadana
                    </h3>
                </div>
            </div>
        </div>
        <hr>
        <app-fechas-admin></app-fechas-admin>
        <hr>
        <app-graficas-admin></app-graficas-admin>
        <app-graficas-admin></app-graficas-admin>
        <app-graficas-admin></app-graficas-admin>
        <app-graficas-admin></app-graficas-admin>
        <!-- <div class = "row infoEstadísticas">
            <div class = "whitePurpleContainer col-md-12 col-12 p-3 rounded-sm d-flex justify-content-center">
                <div class = "col-lg-4 col-md-8 infoEstadisticaContainer">
                    <div class = "row">
                        <h5 class="card-title text-center col-lg-12">Pregunta 2</h5>
                    </div>
                    <hr>
                    <div class = "row d-flex justify-content-center">
                        <div class = "col-lg-12"> 
                        <canvas id="myChart2"></canvas>
                        </div>
                    </div>
                </div>
                </div>
        </div>
        <div class = "row infoEstadísticas">
            <div class = "whitePurpleContainer col-md-12 col-12 p-3 rounded-sm d-flex justify-content-center">
                <div class = "col-lg-4 col-md-8 infoEstadisticaContainer">
                <div class = "row">
                    <h5 class="card-title text-center col-lg-12">Pregunta 3</h5>
                </div>
                <hr>
                <div class = "row d-flex justify-content-end">
                    <div class = "col-lg-12"> 
                    <canvas id="myChart3"></canvas>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class = "row infoEstadísticas">
            <div class = "whitePurpleContainer col-md-12 col-12 p-3 rounded-sm d-flex justify-content-center">
                <div class = "col-lg-4 col-md-8 infoEstadisticaContainer">
                    <div class = "row">
                    <h5 class="card-title text-center col-lg-12">Pregunta 4</h5>
                    </div>
                    <hr>
                    <div class = "row d-flex justify-content-center">
                    <div class = "col-lg-12"> 
                        <canvas id="myChart4"></canvas>
                    </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class = "row pt-3 pb-3 whitePurpleContainer justify-content-center">
            <button type="button" class="btn btn-secondary mr-2 align-self-center">Regresar</button>
            <button type="button" class="btn btn-info ml-2">Publicar</button>
        </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>
