<div class = 'main_container'>
    <app-header></app-header>
    <section class = 'content_login'>
        <div class = 'title_container'>
            <h2 i18n> 
                Crear Encuesta
            </h2>
        </div>
        <div class = 'form_container'>
            <form class = "form_login col-lg-4 col-md-5 col-sm-6 col-10">
                <div class = "pregunta">
                    <app-crear-pregunta></app-crear-pregunta>   
                </div>
                <button class="btn btn-primary mt-3" type="submit" i18n>Agregar Pregunta</button>
                <button class="btn btn-primary mt-3" type="submit" i18n>Crear encuesta</button>
            </form>
        </div>
    </section>
</div>
<app-footer></app-footer>