<footer id = 'footer_container'>
    <div id = "footer_left">
        <div class = "footer_copyright">
            <p i18n>Copyright © 2020 - Todos los derechos reservados</p>
        </div>
        <div class="footer_policy"  [ngSwitch]="section">
            <p *ngSwitchDefault ><a class = "footer_link" routerLink="/policies" routerLinkActive="active current" i18n>Términos y condiciones</a></p>
            <p *ngSwitchCase="'admin'" ><a class = "footer_link" routerLink="/admin/policies" routerLinkActive="active current" i18n>Términos y condiciones</a></p>
            <p *ngSwitchCase="'usuario'" ><a class = "footer_link" routerLink="/usuario/policies" routerLinkActive="active current" i18n>Términos y condiciones</a></p>
        </div>
    </div>
    <div id = "footer_right">
        <div id = "footer_about" [ngSwitch]="section">
            <p *ngSwitchDefault ><a class = "footer_link" routerLink="/about" routerLinkActive="active current" i18n>Sobre nosotros</a></p>
            <p *ngSwitchCase="'admin'" ><a class = "footer_link" routerLink="/admin/about" routerLinkActive="active current" i18n>Sobre nosotros</a></p>
            <p *ngSwitchCase="'usuario'" ><a class = "footer_link" routerLink="/usuario/about" routerLinkActive="active current" i18n>Sobre nosotros</a></p>
        </div>
        <div class="footer_contact">
            <p i18n>Contacto: correo electrónico: correo@gmail.com</p> 
        </div>
    </div>
</footer>