<body class = 'body_container'>
    <app-header></app-header>
    <div class = 'main_container'>
        <div class = "wrapper">
            <section class = 'content_propuestas col-sm-10'>
                <div class = "row">
                    <div class = "col-sm-12">
                        <div class = 'title_container'>
                            <h3> 
                                Propuestas
                            </h3>
                        </div>
                     </div>
                </div>
                <app-filtro-propuestas></app-filtro-propuestas>
                <app-candidato-propuestas></app-candidato-propuestas>
                <app-propuestas-candidato></app-propuestas-candidato>
            </section>
        </div>
        <app-footer></app-footer>