<div class = 'main_container'>
    <app-header [section]="'usuario'"></app-header>
    <section class = 'content_login'>
        <div class = 'title_container py-3'>
            <h2> 
                Contestar Encuesta
            </h2>
        </div>
        <div class = 'title_container py-3'>
            <h2> 
                {{survey.title}}
            </h2>
        </div>
        <div class = 'form_container'>
            <form class = "form_login col-lg-4 col-md-5 col-sm-6 col-10">
                <div class = "pregunta">
                    <div *ngFor="let question of survey.questions">
                        <div class="form-row">
                            <div class="col-lg-12 text-center">
                                <p class = "preguntaUsuario">{{question.title}}</p>
                            </div>
                        </div>
                        <div class="form-row pt-2">
                            <div class="col-lg-12 mb-2">
                                <div *ngFor="let option of question.options">
                                    <input type="radio" id="opcion-{{option.id}}" name="{{question.title}}" value="opcion-{{option.id}}">
                                    <label class = "pl-2" for="opcion-{{option.id}}">{{option.title}}</label><br>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <a routerLink="/usuario/listaEncuestas" routerLinkActive="active" >
                    <button class="btn btn-secondary mt-3" type="submit">Cancelar</button>
                </a>
                <button class="btn btn-primary mt-3" type="submit">Terminar</button>
            </form>
        </div>
    </section>
</div>
<app-footer [section]="'usuario'"></app-footer>