$headerHeight : 62px;
$ribbonWidth : 80px;
$ribbonBackground: rgb(255, 0, 0);
$ribbonPosition: absolute;
$ribbonTop: 5px;
$ribbonSide: -20px;
$ribbonTextAlign: center;
$ribbonLineHeight: 25px;
$ribbonLetterSpacing: 1px;
$ribbonColor: #f0f0f0;
$ribbonLeftTransform: rotate(-45deg);
$ribbonLeftWebKitTransform: rotate(-45deg);
$ribbonRightTransform: rotate(45deg);
$ribbonRightWebKitTransform: rotate(45deg);
$ribbonRightLeft: auto;

header{
    height: $headerHeigh;
}
.header-color {
    background-color: $dark-purple;
}

.corner-ribbon{
    width: $ribbonWidth;
    background: $ribbonBackground;
    position: a$ribbonPosition;
    top: $ribbonTop;
    left: $ribbonSide;
    text-align: $ribbonTextAlign;
    line-height: $ribbonLineHeight;
    letter-spacing: $ribbonLetterSpacing;
    color: $ribbonColor;
    transform: $ribbonLeftTransform;
    -webkit-transform: $ribbonLeftWebKitTransform;
}

.corner-ribbon.top-left{
    top: $ribbonTop;
    left: $ribbonSide;
    transform: $ribbonLeftTransform;
    -webkit-transform: $ribbonLeftWebKitTransform;
}

.corner-ribbon.top-right{
    top: $ribbonTop;
    right: $ribbonSide;
    left: $ribbonRightLeft;
    transform: $ribbonRightTransform;
    -webkit-transform: $ribbonRightWebKitTransform;
}