$sideBarBackgroundColor:#AEA4CC;
$sideBarPadding:20px;
$sideBarBottom: 2px solid rgba(0,0,0,.05);
$sideBarColor: #e9e7ee;
$sideBarHoverColor:#737278;
$sideBarHoverBackgroundColor:rgb(160, 150, 189);
$sideBarActiveFontSize: 18px;

.sidebar {
    background-color: $sideBarBackgroundColor;
    a {
        padding: $sideBarPadding;
        border-bottom: $sideBarBottom ;
        color: $sideBarColor;
        &:hover {
            color: $sideBarHoverColor;
            background-color: $sideBarHoverBackgroundColor;
        }
    }
    .active {
        @include activeFont();
        font-size: $sideBarActiveFontSize;
    }
}