$signUpContentFlex:column;
$signUpContainerFlex:row;
$signUpContainerMargin:5%;
$signUpFormStyle:20px;
$signUpFormSubmissionFlex: column;
$signUpLoginFontWeight: 700;
.content_signup {
    @include flexCenter($signUpContentFlex);
}

.form_container {
    @include flexCenter($signUpContainerFlex);
    margin-bottom: $signUpContainerMargin;

    .form_signup {
        @include form_style($signUpFormStyle);
        .submission_signup {
            @include flexAlignCenter($signUpFormSubmissionFlex);
        }
        .change_login {
            a {
                font-weight: $signUpLoginFontWeight;
            }
        }
    }
}